[submodule "yocto"]
	path = yocto
	url = git://git.yoctoproject.org/poky.git
	branch = morty
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = morty
